/*----------------------------------*/
/*  Main Style  */
/*----------------------------------*/
html, body {
	font-family: $font-main;
	font-size: 14px;
}
.main-wrap {
	max-width: 900px;
	margin: 0 auto;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
}
h6 {
	font-size: 1.2rem;
}

