extends ./templates/head.jade
block content
	.main-wrap
		include ./templates/nav
		//- SLIDER
		.flexslider
			ul.slides
				li
					img(src="http://placehold.it/1900x900/6A9FCC/ffffff/?text=Slide-1", alt="")
					//- p.flex-caption 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dicta.
				li
					img(src="http://placehold.it/1900x900/F9B264/ffffff/?text=Slide-2", alt="")
					//- p.flex-caption 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dicta.
				li
					img(src="http://placehold.it/1900x900/cccccc/ffffff/?text=Slide-3", alt="")
				li
					img(src="http://placehold.it/1900x900/6A9FCC/ffffff/?text=Slide-4", alt="")
				li
					img(src="http://placehold.it/1900x900/F9B264/ffffff/?text=Slide-5", alt="")
				li
					img(src="http://placehold.it/1900x900/cccccc/ffffff/?text=Slide-6", alt="")

		//- CAROUSEL
		.carousel
			.item
				img(src="http://placehold.it/500x400/ccc/fff/?text=Slide-1", alt="")
				
			.item
				img(src="http://placehold.it/500x400/eee/fff/?text=Slide-2", alt="")
				
			.item
				img(src="http://placehold.it/500x400/ccc/fff/?text=Slide-3", alt="")
				
			.item
				img(src="http://placehold.it/500x400/eee/fff/?text=Slide-4", alt="")
				
			.item
				img(src="http://placehold.it/500x400/ccc/fff/?text=Slide-5", alt="")
				
			.item
				img(src="http://placehold.it/500x400/eee/fff/?text=Slide-6", alt="")
				
		include ./templates/footer.jade
